{% extends "layout.html" %}

{% block content %}
<form action="/" method="post">
    <div class="form-group">
        <label for="rows">Rows:</label>
        <input type="number" name="rows" class="form-control" id="rows">
    </div>
    <div class="form-group">
        <label for="columns">Columns:</label>
        <input type="number" name="columns" class="form-control" id="columns">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<table id="multiplication">
    <tbody>
    {% if matrix %}
        {% for key, rows in matrix %}
            <tr>
                {% for key, column in rows %}
                    <td class="{% if column.1 == 'r' %}red{% endif %}">{{ column.0 }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        No results. Please, put size between 1 to 20.
    {% endif %}
    </tbody>
</table>

{% endblock %}

