<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="web design services, websites development, web application development, dedicated applications, online shops, blogs, programming, strategy, design, develop, market, consulting, e-commercial, outsourcing, web hosting, servers, cms, crm, erp, seo, sem, php, css, html, javascript, jquery, angular, mysql, postgresql, unix, linud, debian" />
    <meta name="author" content="Gcoders - www.gcoders.co.uk" />
    <meta name="generator" content="Gcoders - www.gcoders.co.uk" />
    <meta name="description" content="We provide comprehensive services: web design services, websites development, web application development, dedicated applications, online shops, blogs" />
    <title>Multiplication table</title>
    <base href="">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #multiplication .red {
            font-weight: bold;
            color: red;
        }
        table td
        {
            table-layout:fixed;
            width:20px;
            overflow:hidden;
            word-wrap:break-word;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<div id="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>